html{
    background-color: #282828;
}

#dextahImg{
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 20%;
    height: 400px;
}

.container{
    display: grid;
    justify-content: center;
}

#btnContainer{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, auto);
    gap: 30px;
    margin-top: 10px;;
}

p{
    margin-top: 50px;
    font-family: monospace;
    font-weight: bold;
    font-size: 20px;
    color: white;
}

button{
        appearance: none;
        background-color: #ba9ffb;
        border: 1px solid #ba9ffb;
        border-radius: 20px;
        box-sizing: border-box;
        color: #FFFFFF;
        cursor: pointer;
        display: inline-block;
        font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        font-size: 18px;
        font-weight: 600;
        line-height: normal;
        margin: 0;
        min-height: 20px;
        min-width: 0;
        outline: none;
        padding: 16px 24px;
        text-align: center;
        text-decoration: none;
        transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        width: 100%;
}

.slightlyLarger{
    width: 90px;
    height: 70px;
}

.mediumSize{
    width: 130px;
    height: 70px;
}

.superLarge{
    width: 160px;
    height: 90px;
}

.slightlySmaller{
    width: 70px;
    height: 50px;
    text-align: center;
    line-height: normal;
    font-size: 10px;
    padding: 10px 16px;
}

.smaller{
    width: 50px;
    height: 30px;
    text-align: center;
    line-height: normal;
    font-size: 5px;
    padding: 8px 10px;
}

.superSmall{
    width: 30px;
    height: 15px;
    text-align: center;
    line-height: normal;
    font-size: 5px;
    padding: 4px 8px;
}

.confetti {
    position: fixed;
    top: -10px; /* Start above the screen */
    width: 20px;
    height: 7px;
    opacity: 0;
    z-index: 9999;
}

.red { background-color: #FF5733; }
.orange { background-color: #FFC300; }
.yellow { background-color: #FFFF66; }
.green { background-color: #CCFF33; }
.blue { background-color: #6666FF; }
.indigo { background-color: #4B0082; }
.violet { background-color: #8B00FF; }

@keyframes confetti-fall {
    0% { transform: translateY(0) rotate(0deg); }
    100% { transform: translateY(100vh) rotate(360deg); }
}



